In [1]:
import os as os
import numpy as np
import pandas as pd

In [2]:
# Reading dataset
air = pd.read_csv("airquality.csv")
air

     Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
0             1   41.0    190.0   7.4    67      5    1
1             2   36.0    118.0   8.0    72      5    2
2             3   12.0    149.0  12.6    74      5    3
3             4   18.0    313.0  11.5    62      5    4
4             5    NaN      NaN  14.3    56      5    5
5             6   28.0      NaN  14.9    66      5    6
6             7   23.0    299.0   8.6    65      5    7
7             8   19.0     99.0  13.8    59      5    8
8             9    8.0     19.0  20.1    61      5    9
9            10    NaN    194.0   8.6    69      5   10
10           11    7.0      NaN   6.9    74      5   11
11           12   16.0    256.0   9.7    69      5   12
12           13   11.0    290.0   9.2    66      5   13
13           14   14.0    274.0  10.9    68      5   14
14           15   18.0     65.0  13.2    58      5   15
15           16   14.0    334.0  11.5    64      5   16
16           17   34.0    307.0  12.0    66      5   17
17           18    6.0     78.0  18.4    57      5   18
18           19   30.0    322.0  11.5    68      5   19
19           20   11.0     44.0   9.7    62      5   20
20           21    1.0      8.0   9.7    59      5   21
21           22   11.0    320.0  16.6    73      5   22
22           23    4.0     25.0   9.7    61      5   23
23           24   32.0     92.0  12.0    61      5   24
24           25    NaN     66.0  16.6    57      5   25
25           26    NaN    266.0  14.9    58      5   26
26           27    NaN      NaN   8.0    57      5   27
27           28   23.0     13.0  12.0    67      5   28
28           29   45.0    252.0  14.9    81      5   29
29           30  115.0    223.0   5.7    79      5   30
..          ...    ...      ...   ...   ...    ...  ...
123         124   96.0    167.0   6.9    91      9    1
124         125   78.0    197.0   5.1    92      9    2
125         126   73.0    183.0   2.8    93      9    3
126         127   91.0    189.0   4.6    93      9    4
127         128   47.0     95.0   7.4    87      9    5
128         129   32.0     92.0  15.5    84      9    6
129         130   20.0    252.0  10.9    80      9    7
130         131   23.0    220.0  10.3    78      9    8
131         132   21.0    230.0  10.9    75      9    9
132         133   24.0    259.0   9.7    73      9   10
133         134   44.0    236.0  14.9    81      9   11
134         135   21.0    259.0  15.5    76      9   12
135         136   28.0    238.0   6.3    77      9   13
136         137    9.0     24.0  10.9    71      9   14
137         138   13.0    112.0  11.5    71      9   15
138         139   46.0    237.0   6.9    78      9   16
139         140   18.0    224.0  13.8    67      9   17
140         141   13.0     27.0  10.3    76      9   18
141         142   24.0    238.0  10.3    68      9   19
142         143   16.0    201.0   8.0    82      9   20
143         144   13.0    238.0  12.6    64      9   21
144         145   23.0     14.0   9.2    71      9   22
145         146   36.0    139.0  10.3    81      9   23
146         147    7.0     49.0  10.3    69      9   24
147         148   14.0     20.0  16.6    63      9   25
148         149   30.0    193.0   6.9    70      9   26
149         150    NaN    145.0  13.2    77      9   27
150         151   14.0    191.0  14.3    75      9   28
151         152   18.0    131.0   8.0    76      9   29
152         153   20.0    223.0  11.5    68      9   30

[153 rows x 7 columns]

In [10]:
# Dimensions
air.shape

# structure
air.dtypes

# column names
list(air)

# summary
air.describe()

,Unnamed: 0,Ozone,Solar.R,Wind,Temp,Month,Day
count,153.000000,116.000000,146.000000,153.000000,153.000000,153.000000,153.000000
mean,77.000000,42.129310,185.931507,9.957516,77.882353,6.993464,15.803922
std,44.311398,32.987885,90.058422,3.523001,9.465270,1.416522,8.864520
min,1.000000,1.000000,7.000000,1.700000,56.000000,5.000000,1.000000
25%,39.000000,18.000000,115.750000,7.400000,72.000000,6.000000,8.000000
50%,77.000000,31.500000,205.000000,9.700000,79.000000,7.000000,16.000000
75%,115.000000,63.250000,258.750000,11.500000,85.000000,8.000000,23.000000
max,153.000000,168.000000,334.000000,20.700000,97.000000,9.000000,31.000000

In [11]:
# 1.	Fetch the observations for 9 day of June
air.query("(Month == 5 and Day == 9)")

   Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
8           9    8.0     19.0  20.1    61      5    9

In [12]:
# 2.	Find Average temperature for the month of June. 
air[air.Month == 6].Temp.mean()

79.1

In [15]:
# 3.	To which day of June has the least temperature
#a = air[air.Month == 6].Temp.min()

a = air[air.Month==6][['Day']].min()
a

Day    1
dtype: int64

In [16]:
#4.	Find Maximum Ozone value for the month of May
air[air.Month == 5].Ozone.max()

115.0

In [17]:
# 5.	Find the count of the missing values in the ozone column of the data set
air.Ozone.isnull().sum()

37

In [20]:
#6.	Find out What is the mean of the Ozone column in this dataset
air.Ozone.mean()

42.12931034482759

In [37]:
#7.	Find out which month has the highest temperature
air.query("(Temp)")[['Month']].max()

Month    8
dtype: int64

In [38]:
# 8.	Find out the wind value when the Ozone becomes maximum
air.sort_values(by = 'Ozone', ascending =False)[['Wind','Ozone']].head(1)

     Wind  Ozone
116   3.4  168.0

In [128]:
# 9.	Find out the months for which the airquality observations have been carried out
air.Month.unique()

array([5, 6, 7, 8, 9], dtype=int64)

In [39]:
# 10.	Find the Ozone and temperature values for the 1st observation of every month.
air[air.Day == 1][['Ozone','Temp','Day']]

     Ozone  Temp  Day
0     41.0    67    1
31     NaN    78    1
61   135.0    84    1
92    39.0    81    1
123   96.0    91    1

In [143]:
#11.	Which day of which month corresponds to the least Ozone Value
air.query("(Ozone == Ozone.min())")[['Day','Month','Ozone']]

    Day  Month  Ozone
20   21      5    1.0

In [43]:
# 12.	Convert the temperature for all the observations to Centigrade scale

air['centigrade'] = (air.Temp-32)*(5/9)
print(air[['Temp','centigrade']])

     Temp  centigrade
0      67   19.444444
1      72   22.222222
2      74   23.333333
3      62   16.666667
4      56   13.333333
5      66   18.888889
6      65   18.333333
7      59   15.000000
8      61   16.111111
9      69   20.555556
10     74   23.333333
11     69   20.555556
12     66   18.888889
13     68   20.000000
14     58   14.444444
15     64   17.777778
16     66   18.888889
17     57   13.888889
18     68   20.000000
19     62   16.666667
20     59   15.000000
21     73   22.777778
22     61   16.111111
23     61   16.111111
24     57   13.888889
25     58   14.444444
26     57   13.888889
27     67   19.444444
28     81   27.222222
29     79   26.111111
..    ...         ...
123    91   32.777778
124    92   33.333333
125    93   33.888889
126    93   33.888889
127    87   30.555556
128    84   28.888889
129    80   26.666667
130    78   25.555556
131    75   23.888889
132    73   22.777778
133    81   27.222222
134    76   24.444444
135    77   25.000000
136    71   21.666667
137    71   21.666667
138    78   25.555556
139    67   19.444444
140    76   24.444444
141    68   20.000000
142    82   27.777778
143    64   17.777778
144    71   21.666667
145    81   27.222222
146    69   20.555556
147    63   17.222222
148    70   21.111111
149    77   25.000000
150    75   23.888889
151    76   24.444444
152    68   20.000000

[153 rows x 2 columns]